<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86723647619-4r0cdssr5qkr8osob19jsbm10u387s06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86723647619-4r0cdssr5qkr8osob19jsbm10u387s06</string>
	<key>API_KEY</key>
	<string>AIzaSyC7JLGBKOhXtY2JPzHjc_gfHVQudLxc37Q</string>
	<key>GCM_SENDER_ID</key>
	<string>86723647619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiAppUserFlutter</string>
	<key>PROJECT_ID</key>
	<string>my-project-1-337615</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1-337615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86723647619:ios:bc7a35f029f55c8f86a3b6</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1-337615-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>